* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

@font-face {
  font-family: robotomono;
  src: url(/assets/RobotoMono-VariableFont_wght.ttf);
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #ff3b3b, #e6e6e6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: robotomono;
}

main {
  width: 100%;
  max-width: 420px;
  /* padding: 2rem 1.5rem; */
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  article {
    display: grid;
    perspective: 50em;
    transform-style: preserve-3d;
    margin-left: 0.5em;

    .front {
      p {
        font-weight: bold;
        color: rgb(151, 151, 151);
      }
      img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 2px solid rgb(105, 105, 105);
        object-fit: cover;
        margin-top: 1rem;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
      }
    }

    .back {
      display: grid;
      /* position: fixed; */
      /* grid-template-columns: 4fr 1fr; */
      .tab-buttons {
        display: flex;
        justify-content: space-between;
        margin: 2rem 1rem;
        font-weight: bold;

        label {
          cursor: pointer;
          padding-bottom: .3rem;
        }
      }
      .tabs {
        input {
          display: none;
        }
      }
      .tab-content {
        /* display: none; */
        padding: 1rem;
        ul {
          /* Moet nog naar een oplossing kijken */
          display: grid;
          grid-template-columns: 2fr 2fr;
          list-style: none;
        }
      }
    }
  }
}

section {
  grid-area: 1/1;
  height: 30em;
  width: 95vw;
  background: linear-gradient(60deg in oklch, #0f0f14, #3a0ca3, #f72585);
  border-radius: 2em;
  backface-visibility: hidden;
  transition: 1s;
  transition-delay: 250ms;
  margin-block-start: 1em;

  .socials {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  @media (min-width: 768px) {
    width: 100%;
    max-width: 20em;
  }
}

/* section.front {

} */

section.back {
  transform: rotateY(180deg);
}

/* De kaart word niet geflipt als je op de socials zit te hoveren */
article:hover:not(:has(.socials:hover)) section.front {
  transform: rotateY(180deg);
}

/* De kaart word niet geflipt als je op de socials zit te hoveren */
article:hover:not(:has(.socials:hover)) section.back {
  transform: rotateY(360deg);
}