* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  display: grid;
  perspective: 50em;
  transform-style: preserve-3d;
  margin-left: 1em;
  margin-right: 1em
}

section {
  grid-area:1/1;
  height: 54em;
  width: 95vw;
  background: linear-gradient(60deg in oklch, red, black);
  border-radius: 2em;
  backface-visibility: hidden;
  transition: 1s;
  margin-block-start: 1em;
}

/* section.front {

} */

section.back {
  transform: rotateY(180deg)
}

article:hover section.front{
  transform: rotateY(180deg)
}

article:hover section.back{
  transform: rotateY(360deg)
}